
[includeIf "gitdir:C:/Users/Zafeer Mahmood/Desktop/TREE/"]
  path=./.gitconfig-personal

[includeIf "gitdir:C:/Users/Zafeer Mahmood/Desktop/Work/"]
  path=./.gitconfig-work

[user]
	email = zafeer7460@gmail.com
  name = ZafeerMahmood
[core]
  sshCommad=C:/Windows/System32/OpenSSH/ssh.exe

